@font-face {
  font-family: 'OldStandard';
  src: local('OldStandard'),
    url('../../fonts/OldStandard.ttf') format('truetype');
}
@import '../../styles/variables.scss';
.container {
  display: flex;
  position: sticky;
  top: 0;
  background-color: $white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding: 0 20px;
}
.logo {
  z-index: 1001;
  font-family: 'OldStandard';
  font-size: 46px;
}
.menu {
  display: flex;
  font-size: 18px;
  @media screen and (max-width: 576px) {
    display: none;
  }
}
.menuItem {
  margin-left: 15px;
  padding: 20px;
  cursor: pointer;
}
.itemActive {
  border-bottom: 2px solid black;
}
.burger {
  z-index: 1001;

  display: none;
  @media screen and (max-width: 576px) {
    display: block;
  }
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $black;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}

.burger span:nth-child(2) {
  top: 15px;
  transform-origin: left center;
}

.burger span:nth-child(3) {
  bottom: 0;
  transform-origin: left center;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 3px;
  left: 3px;
}

.burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 24px;
  left: 3px;
}

.burgerMenuList {
  padding-top: 40px;
}

.burgerMenu {
  font-size: 32px;
  z-index: 1000;
  height: 0;
  background-color: rgba($white, 0.5);
  backdrop-filter: blur(3.5px);
  transform: translateX(-100%);
  transition: 0.3s;
  @media screen and (max-width: 576px) {
    position: fixed;
    top: 67px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.burgerMenu.open {
  height: auto;
  transform: translateX(0);
}
.burgerMenuItem {
  transform: translateX(-100%);

  padding: 20px;
  margin-bottom: 10px;
}
.burgerMenuItem.open {
  transform: translateX(0);
}
